footer {
    display: block;
    background-color: rgb(29, 28, 26);
    color: blanchedalmond;
    text-align: center;
    padding-bottom: 10px;
    font-family: "Brush Script MT", cursive;
    font-size: 25px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h1 {
    font-family: "Sofia", sans-serif;
    font-size: 30px;
    text-shadow: 3px 3px 3px #ababab;
    text-align: center;
    color: brown;
    animation-name: h1color;
    animation-duration: 15s;
    height: 60px;
    padding-top: 10px;
    animation-iteration-count: infinite;
}

@keyframes h1color {
    0% {
        background-color: rgb(167, 103, 20);
        color: rgb(91, 87, 95);
    }
    25% {
        background-color: rgb(168, 128, 15);
        color: rgb(7, 5, 5);
    }
    50% {
        background-color: rgb(134, 101, 11);
        color: burlywood;
    }
    75% {
        background-color: rgb(197, 148, 12);
        color: rgb(165, 146, 153);
    }
    100% {
        background-color: rgb(136, 84, 16);
        color: blanchedalmond;
    }
}